nav{
    display: flex;
    justify-content: space-between;
    padding:  1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;

    #logo{
        color: black;
    }
}